{# ids must be unique doc-wide #}
{% set id = apos.utils.generateId() %}
{% set widget = data.widget %}
{% set classPrefix = data.widget.classPrefix %}

<label for="{{ id }}" class="apos-forms-label {{ classPrefix + '__label' if classPrefix }}">
  {{ widget.fieldLabel}}
  {% if not widget.required %} {{ __('(Optional)') }}{% endif %}
  <span class="apos-forms-label-message {{ classPrefix + '__label-message' if classPrefix }}" data-apos-input-message="{{ widget.fieldName }}" hidden></span>
</label>

<input class="apos-forms-input {{ classPrefix + '__input' if classPrefix }} apos-forms-input-{{ addressPart }}"
  type="string"
  id="{{ id }}" name="{{ widget.fieldName }}"
  placeholder="{{ widget.placeholder }}"
  data-apos-forms-google-api-key="{{ data.googleApiKey }}"
  {% if widget.required -%} required {%- endif -%}
/>

{% if widget.splitAddress and widget.addressParts %}
  {% for addressPart in widget.addressParts %}
    {%- if widget.displaySplitAddress %} </br> {%- endif %}
    <label for="{{ addressPart }}" class="apos-forms-label {{ classPrefix + '__label' if classPrefix }}" {%- if not widget.displaySplitAddress %} style="display: none;" {%- endif %}>
      {{ __(addressPart) }}
      <span class="apos-forms-label-message {{ classPrefix + '__label-message' if classPrefix }}" data-apos-input-message="{{ addressPart }}" hidden></span>
    </label>
    <input class="apos-forms-input {{ classPrefix + '__input' if classPrefix }} apos-forms-input-{{ addressPart }}"
      type="string"
      id="{{ widget.fieldName }}-{{ addressPart }}"
      name="{{ widget.fieldName }}-{{ addressPart }}"
      {%- if not widget.displaySplitAddress %} style="display: none;" {%- endif %}
    />
  {% endfor %}
{% endif %}

