{# ids must be unique doc-wide #}
{% set id = apos.utils.generateId() %}
{% set widget = data.widget %}
{% set classPrefix = data.widget.classPrefix %}
<script src="https://maps.google.com/maps/api/js?key={{ widget.googleApiKey }}&libraries=places
  {%- if widget.offset -%} &offset={{ widget.offset }} {%- endif -%}
  {%- if widget.origin -%} &origin={{ widget.origin }} {%- endif -%}
  {%- if widget.location -%} &location={{ widget.location }}{%- endif -%}
  {%- if widget.radius -%} &radius={{ widget.radius }}{%- endif -%}
  {%- if widget.strictBounds -%} &strictbounds={{ widget.strictBounds }}{%- endif -%}
  {%- if widget.language -%} &language={{ widget.language }}{%- endif -%}
  {%- if widget.types -%} &types={{ widget.types }}{%- endif -%}
  " type="text/javascript"></script>
<label for="{{ id }}" class="apos-forms-label {{ classPrefix + '__label' if classPrefix }}">
  {{ widget.fieldLabel}}
  {% if not widget.required %} {{ __("(Optional)") }}{% endif %}
  <span class="apos-forms-label-message {{ classPrefix + '__label-message' if classPrefix }}" data-apos-input-message="{{ widget.fieldName}}" hidden></span>
</label>
<input class="apos-forms-input {{ classPrefix + '__input' if classPrefix }}"
  type="string"
  id="{{ id }}" name="{{ widget.fieldName}}"
  placeholder="{{ widget.placeholder}}"
  {% if widget.required %}required{% endif %}
/>